:root{
    --fuchsia: #e92efb;
    --neon-red: #ff2079;
    --neon-purple: #440bd4;
    --dark-blue: #04005e;
    --black: #000;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--black);
    display: grid;
    grid-template-rows: 40% 60%;
}