@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Angkor&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --paragraph-font: "Anek Devanagari", sans-serif;
}

.slide{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:0px 28px;
    line-height: 2;
    font-family: var(--paragraph-font);
}

.slide-title{
    font-size: 48px;
    margin-bottom: 28px;
}

.slide-paragraph{
    font-size: 18px;
}