@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --title-font: "Libre Baskerville", serif;;
    --white: #fff;
}

.container-title{
    padding-top: 160px;
    padding-left: 120px;
}

.title{
    color: var(--white);
    font-size: 12rem;
    font-family: var(--title-font);
    font-weight: bold;
}